body {
    background-color: #FBEAD7;
}

#video {
    display: block;
    margin: 0 auto;
    animation: video-animatie 1.2s 1;
}

@keyframes video-animatie {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
}

div {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
}

div img {
    height: 100px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin: 0 50px;
    margin-top: 20px;
    animation: knop-animatie 1.2s 1;
}

@keyframes knop-animatie {
  0%   { opacity: 0%; margin: 0px}
  50%   { opacity: 0%; margin: 0px}
  100% { opacity: 100%; margin: 0 50px}
}

div img:hover{
    transform: scale(1.2);    
}
